.git
.github
.mypy_cache
.pytest_cache
.ruff_cache
.venv
__pycache__
*.py[cod]
*.log
.env*
.secrets
secrets
.coverage
.coverage.*
coverage.xml
htmlcov
.pytest-tmp
dist
build
*.dump
*.sql
*.tar
*.tgz
restic-cache
restic-repository
docs
